@charset "utf-8";

.photo img{
    width: 500px;
    height: 300px;
    position: relative;
}
.content {
    background: white;
    opacity: .5;
    width: 350px;
    height: auto;
    position: absolute;
    top: 150px;
    left: 70px;
}
.container {
    margin: 15px;
}